@media (max-width: 1200px) and (min-width: 1024px) {
  .nav__link {
    padding: 0 12px; }

  .search-btn {
    margin: 0 30px 0 10px; }

  .book-menu {
    font-size: 15px; }

  .room__desc {
    padding: 35px; }

  .job-info .modal-dialog {
    max-width: 86%; }

  .room-detail .room__info li {
    margin: 0 10px;
    font-size: 15px; } }
@media (max-width: 1023px) {
  .nav-menu {
    display: none; }

  .header__info:first-child {
    margin-right: 20px; }
  .header__info span {
    display: none; }

  .header__logo {
    width: 14%; }

  .book-btn {
    display: none; }

  .header__info i {
    color: #fff;
    font-size: 14px; }

  .banner__img img {
    height: 60vh; }

  .quick-book {
    position: relative; }

  .quick-book .form-group {
    margin-bottom: 10px; }

  .check-avai {
    margin-top: 15px; }

  .header__top {
    padding: 8px 0; }

  .about__right {
    margin-top: 20px; }

  .footer__col {
    margin-bottom: 20px; } }
@media (max-width: 1023px) {
  .contact-main {
    padding: 30px 0 60px 0; }

  .ct-left {
    order: 5; }

  .ct-right {
    order: 1; }

  .center .room__item {
    box-shadow: 0px 0px 10px #00000021; }

  .room__desc {
    padding: 35px; }

  .room-slide .owl-nav button[class*="owl-"] {
    background-color: #1490ac;
    position: relative;
    margin: 0 20px; }

  .room-main .row {
    flex-direction: column-reverse; }

  .blog-sidebar {
    padding-left: 0px; }

  .book-right {
    padding: 0px; }

  .article-element {
    flex-direction: column;
    margin-bottom: 30px; }

  .article-box {
    width: 100%; }

  .req-box {
    font-size: 14px; }

  .job-info .modal-dialog {
    max-width: 90%; }

  .room-sidebar {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-lg-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (max-width: 767px) {
  .header__box {
    height: 80px; }

  .header__logo {
    width: 24%; }

  .banner__img img {
    height: 50vh; }

  .banner__caption h1 {
    font-size: 42px; }

  .banner-slide .owl-nav .owl-prev {
    left: 2px; }

  .banner-slide .owl-nav .owl-next {
    right: 2px; }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "g1 g2" "g3 g4" "g5 g6" "g7 g8" "g9 g10" "g11 g12"; }

  .video__title h3 {
    font-size: 32px; } }
@media (max-width: 767px) {
  .box {
    padding-top: 30px;
    margin-bottom: 40px; }

  .about-home {
    padding-top: 50px; }

  .video-box {
    width: 90%; }
    .video-box iframe {
      height: 320px !important; }

  .copy-right .container {
    padding: 10px 15px; }

  .footer {
    padding: 50px 0 0; }

  .footer__detail {
    margin-bottom: 10px; }

  .room__item {
    margin: 1px 0 1px 0; }

  .room__desc {
    padding: 15px; }

  .room__img img {
    height: 360px; }

  .center .room__item {
    flex-direction: column-reverse; }

  .center .room__desc {
    width: 100%; }

  .center .room__img {
    width: 100%; }

  .center .room__img img {
    height: 360px; }

  .room-slide .owl-nav button[class*="owl-"] {
    position: absolute;
    top: 40%;
    margin: 0px; }

  .room-img__slide img {
    height: 360px; } }
@media (max-width: 767px) {
  .blog-box {
    margin-bottom: 30px; }

  .box__title h3 {
    font-size: 26px; }

  .req-box {
    font-size: 13px; }

  .req-main .modal {
    font-size: 14px; }

  .job-info .modal-dialog {
    max-width: 95%;
    margin: 20px auto; }

  .req-main .modal-body {
    padding: 25px 15px; }

  .req-main .modal-title {
    font-size: 18px; }

  .job-title {
    font-size: 28px; } 
	.b-info-number select{
		font-size: 18px;
		width: 50px;	
	}
}
@media (max-width: 500px) {
  .header__right a {
    margin: 0 6px; }

  .blog-share a {
    font-size: 13px; }

  .info-box {
    font-size: 13px; }

  .info-icon {
    width: 40px;
    height: 40px; } }

/*# sourceMappingURL=responsive.css.map */
