@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("Roboto-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url("Roboto-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'MyriadPro';
	font-style: normal;
	font-weight: 400;
	src: url("MyriadPro-Regular.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: 'MyriadPro';
	font-style: normal;
	font-weight: 700;
	src: url("MyriadPro-Bold.ttf") format('truetype');
}